<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="POST" action="/verify-email">
        <label>Email:</label>
        <input type="email" name="email" required>
        <button class="btn" type="submit">Send Code</button>
    </form>

</body>
</html>